#javeincludes
dist/
webpack.config.js
Change source code in Oref0.rtf
package-lock.json


bower_components/
node_modules/

bundle/bundle.out.js

.idea/
*.iml
my.env

*.env
static/bower_components/
.*.sw?
.DS_Store

.vagrant
/iisnode

# istanbul output
coverage/

npm-debug.log
bin/__pycache__

*.pyc
